body {
  margin: 0;
  overflow: hidden;
  font-family: Arial;
  background: black;
  color: white;
}

.hidden { display: none; }

#menu, #gameOver {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h1 { font-size: 60px; }

button, select {
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 10px;
}

#hud {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  font-weight: bold;
}

#game {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
}

#track {
  position: absolute;
  bottom: 120px;
  width: 100%;
  height: 4px;
  background: white;
  opacity: 0.3;
}

#player {
  width: 50px;
  height: 50px;
  background: cyan;
  position: absolute;
  bottom: 120px;
  left: 120px;
}

.obstacle {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 120px;
}

.spike {
  background: red;
}

.block {
  background: lime;
}
