body {
  margin: 0;
  overflow: hidden;
  font-family: Arial;
  background: black;
  color: white;
}

.hidden { display: none; }

#menu, #gameOver {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h1 { font-size: 60px; }

button, select {
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 10px;
}

#hud {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  font-weight: bold;
}

#countdown {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
}

.lanes {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 120px;
}

.lane {
  width: 120px;
  height: 100vh;
  background: rgba(255,255,255,0.05);
  position: relative;
  overflow: hidden;
}

.platform {
  position: absolute;
  width: 100%;
  height: 80px;
}

.safe { background: lime; }
.danger { background: red; }

#player {
  width: 60px;
  height: 60px;
  background: cyan;
  border-radius: 50%;
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.1s;
}

.near {
  background: yellow !important;
  transform: translateX(-50%) scale(1.2);
}
